@import "manager.css";
@import "buttonstyle.css";

body {
	background: transparent;
	overflow: hidden hidden;
}
.po {
	position: absolute;
	right: 33%;
	top: 30%;
	width: 100%;
	height: 100%;
}
.ne {
	position: absolute;
	left: 33%;
	top: 30%;
	width: 100%;
	height: 100%;
}
#counterleft {
	margin-top: -50px;
	font-size: 100px;
	font-family: "count";
	color: #222;
	top: 50%;
	text-align: center;
}
#counterright {
	margin-top: -50px;
	font-size: 100px;
	font-family: "count";
	color: #222;
	top: 30%;
	text-align: center;
}
#noteleft {
	margin-top: -50px;
	font-size: 50px;
	font-weight: 700;
	font-family: "count";
	color: #222;
	top: 30%;
	text-align: center;
}
#noteright {
	margin-top: -50px;
	font-size: 50px;
	font-weight: 700;
	font-family: "count";
	color: #222;
	top: 30%;
	text-align: center;
}